a[href="#main"] {
    position: relative;
    display: flex;
    background: var(--nav-link-color);
    padding: 0.5em 1em;
    color: #fff !important;
}

a[href="#main"]:focus {
    text-decoration: underline;
}

a[href*=".pdf"]::after {
    content: " (PDF)";
    display: inline;
}

a[href*=".doc"]::after {
    content: " (Word Document)";
    display: inline;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

#required-notice {
    color: var(--error);
}

[tabindex="-1"]{
    outline: none;
}