main table {
  margin: 1em 0;
  border-collapse: collapse;
/*   width: 100%; */
}

main caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

main th,
main td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
}

main th {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
}

td::before {
  display: none;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 1);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.25);
}

div.overflow {
  overflow: auto;
}

table td a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#sec1 tr td:nth-of-type(2),
#sec2 tr td:nth-of-type(2),
#sec3 tr td:nth-of-type(2) {
  min-width: 20em;
}

@media screen and (max-width: 52em), print and (max-width: 5in) {
  table,
  tr,
  td {
    display: block;
  }
  tr {
    padding: 0.7em 2vw;
  }
  th:not([scope=row]),
  tr:first-of-type:not([scope=row]) {
    display: none;
  }
  td::before {
    display: inline;
    font-weight: bold;
  }
  td {
    display: grid;
    grid-template-columns: 5em auto;
    grid-gap: 1em 0.5em;
  }
  caption {
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-weight: bold;
  }
  td:nth-of-type(3) {
    text-align: left;
  }
  td:nth-of-type(4)::before, td:nth-of-type(5)::before {
    text-align: left;
  }
  td:nth-of-type(2)::before {
    font-style: normal;
  }
}

@media print {
  body {
    font-size: 6pt;
    color: #000;
    background-color: #fff;
    background-image: none;
  }
  body,
  main {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
  }
  table {
    page-break-inside: avoid;
  }
  div {
    overflow: visible;
  }
  th {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  tr {
    border-top: 1pt solid #000;
  }
}

@media print and (max-width: 5in) {
  caption {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
}
