<footer>
  <small>
    &copy 2020 Manchester Community College <br />
    Great Path, Manchester, Connecticut 06040<br />
    860-512-3000
  </small>
  <nav aria-label="footer navigation">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
</footer>
