---
title: Verification with Inceptia
permalink: /enrollment/financial-aid/verification/index.html
tags: financial-aid
---
You may be selected by the U.S. Department of Education or the Financial Aid Office for a process called verification. When selected for verification, your file will be considered incomplete until you submit requested documentation for review.

MCC has established a partnership with Inceptia to expedite the federal verification process by using their Verification Gateway online portal. If your FAFSA application is selected for verification by the US Department of Education, you will receive an introductory email,  sent to the email address you provided on the FAFSA. If no email was provided, you will receive an introductory postcard. The postcard will have the MCC logo along with Inceptia’s, so you will know it is official.

MCC’s Verification Gateway portal  for 2020-21 applications can be found at [www.verificationgateway.org/mcc2021](http://www.verificationgateway.org/mcc2021). If selected for verification, create your account and complete your file for review as soon as possible.  (For those still looking to access the verification portal for prior aid years, please refer to the unique URL provided by Inceptia via email or contact our office for help.)

If you are selected for verification or have any outstanding requirements, you will need to access or upload documentation through your Verification Gateway account. Your Verification Gateway account will give you a task list to complete and instructions for completing the verification process.

## Follow these steps to complete your verification:
* Access [our school’s unique website link](http://www.verificationgateway.org/mcc2021) in the email from VGCS@inceptia.org.
* Create your account and choose preferences for text messages and e-signatures.
* Complete your Task List.
* Confirm your signature and review your information.
* Sign your account.

*Dependent students that provided parental information on the FAFSA are required to have one parent also authenticate and create an account, completing their own task list. This parent will be required to e-sign or provide an ink signature once all documentation has been submitted.

Failure to submit completed verification documents to Inceptia can result in:

* Loss of financial aid for the semester or academic year.
* Loan not being approved.
* Future applications for aid not being processed.

## Document Review

Once forms are submitted for verification, Inceptia will review your file and make corrections to your FAFSA, if necessary. Information will then be sent to our Financial Aid Office. From there, we can determine your eligibility and award you, if applicable. Review of documents take approximately one week, although during peak registration periods, Inceptia’s review can require even more time. You will receive periodic emails informing you of your current status. This information can also be checked through your myCommNet account. Once you are awarded financial aid, your myCommNet account should display your award.

## Tips

* Don’t assume that, once you complete the FAFSA, you are finished with the financial aid application. Often, MCC and Inceptia need to collect copies of documents for verification.
* Dependent students, if selected for verification, need a parent to create an Inceptia account as well, just as with the initial FAFSA application.
* Typically, if your FAFSA is selected for verification, and you did not use the IRS Data Retrieval option or you changed the IRS data, you will be required to request a tax transcript from the IRS. If you need to request your tax transcripts, you can visit the IRS’s website for either an electronic copy or to request one be delivered to your home.
* Be sure to keep your email address up to date with the Registrar’s office.
* We only assume that you are interested in grants. Although work-study and loans are also part of financial aid, they must be applied for separately. Applications are available in the Financial Aid section of the Form Depot or in the Financial Aid Office.

## Questions

If you have any questions about the verification process, please contact Inceptia, Monday through Friday from 9 a.m. to 8 p.m., at 888-374-8427 or by email at [VGCS@inceptia.org](mailto:VGCS@inceptia.org).

## Your Financial Aid Award

When we complete our review of your financial aid application, we will notify you via your MCC student email address.