<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<a href="#main">Skip to main content</a>
		<div class="wrapper">
			<header>
				<div class="logo">
					<img src="/static/img/logo-cscu-blue.svg" width="198" height="92" alt="CSCU Digital Accessibility" role="img" />
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</div>
				{% include "components/nav.njk" %}
			</header>

			<div class="page">
				<section class="sidebar">
					{% include "components/sidebar.njk" %}
				</section>
				<main id="main" role="main" tabindex="-1" class="with-sidebar">
					{{ layoutContent | safe }}
				</main>
			</div>

			{% include "components/footer.njk" %}
		</div>
		{% set js %}
    		{% include "assets/js/inline.js" %}
  		{% endset %}
  		<script>{{ js | jsmin | safe }}</script>
	</body>

</html>
